In [1]:
import pandas as pd

In [8]:
df.head()

   Record Number                                              Title
0              1  Supreme Nike SB Dunk High By any Means Red US1...
1              2  New Balance 530 Männer und Frauen Laufschuhe m...
2              3                     ♥ MICHAEL KORS Sneaker Gr 39 ♥
3              4             New Balance ML 574 EGO Turnschuhe grün
4              5  Nike air jordan 9 og , space jam , hare , bugs...

In [15]:
df = pd.read_csv(r'C:\Users\RISHABH\Desktop\PROJECTS\ebay-hackathon\data\2023 eBay ML Challenge Data\Train_Tagged_Titles\Train_Tagged_Titles.tsv', sep='\t')

ParserError: Error tokenizing data. C error: Expected 4 fields in line 285, saw 5